<!DOCTYPE HTML>
<html>
<head>
  <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>享得</title>

    <include file="Common:head" />
    
    <link href="__PUBLIC__/select2/select2.css" rel="stylesheet"/>

    <script type="text/javascript" src="__PUBLIC__/js/jquery.form.js"></script>
    <script src="__PUBLIC__/select2/select2.js"></script>

    <link rel="stylesheet" href="__HOME__/css/bui-dpl.css" type="text/css" />
    <!--<link href="__ADMIN_BUIADMIN__/bui/css/bs3/dpl.css" rel="stylesheet" type="text/css" />-->
    <link href="__ADMIN_BUIADMIN__/bui/css/bs3/bui-min.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="__ADMIN_BUIADMIN__/js/bui-min.js"></script>
    
    <script type="text/javascript" src="__PUBLIC__/js/functions.js"></script>
    
    <script src="__PUBLIC__/ueditor1_4_3_1/ueditor.config.js"></script>
    <script src="__PUBLIC__/ueditor1_4_3_1/ueditor.all.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="__PUBLIC__/ueditor1_4_3_1/lang/zh-cn/zh-cn.js"></script>
</head>
<body>
    <include file="Common:head_nav" />

    <div id="wrap"><!-- wrap -->
        <div id="page-main" class="container art-container">
        <div class="row">
            <div class="col-md-12 col-lg-12 col-sm-12">
                <div class="row">
                    <nav class="navbar navbar-default">
                        <div class="container-fluid">
                            <!-- Brand and toggle get grouped for better mobile display -->
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                                <a class="navbar-brand" href="#">用户中心</a>
                            </div>

                            <!-- Collect the nav links, forms, and other content for toggling -->
                            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                <ul class="nav navbar-nav">
                                    <li ><a href="<{:U('User/article')}>">我的文章</a></li>
                                    <li class="active"><a href="<{:U('User/category')}>">我的分类<span class="sr-only">(current)</span></a></li>
                                    <li><a href="<{:U('User/album')}>">我的相册</a></li>
                                    <li><a href="<{:U('User/profile')}>">个人信息</a></li>
                                </ul>
      
                            </div><!-- /.navbar-collapse -->
                        </div><!-- /.container-fluid -->
                    </nav>
                    <div style="padding: 0px 20px;">
                        <form class="form-inline definewidth margin-bottom20" action="" method="get">
                            <button type="button" class="btn btn-success" onclick="javascript:window.location.href='<{:U(\'Category/add\')}>'">新增分类</button>
                        </form>
                        <table class="table table-bordered table-hover definewidth m10" id="list-table">
                            <thead>
                                <tr>
                                    <th>分类名称</th>
                                    <th>管理操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                <volist name="category_list" id="category">
                                <tr class="<{$category.level}>" id="<{$category.level}>_<{$category.cat_id}>">
                                    <td>
                                        <img src="__PUBLIC__/images/menu_minus.gif" id="icon_<{$category.level}>_<{$category.cat_id}>" width="9" height="9" border="0" style="margin-left:<{$category.level}>em" onclick="rowClicked(this)" />
                                        <{$category.category_name}></td>
                                    <td>
                                        <a href="<{:U('Category/update',array('id'=>$category['cat_id']))}>">编辑</a>
                                        <a href="javascript:void(0)" id="<{$category.cat_id}>" onclick="ajaxDelete('<{:U(\'Category/delete\')}>','{id:'+this.getAttribute('id')+'}')">删除</a>
                                    </td>
                                </tr>
                                </volist>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div><!--/.col-xs-12.col-sm-9-->
        </div><!--/row-->
    </div> <!-- /container -->
    </div>

    <script>
    var $form = $('#form');
        $($form).ajaxForm({
        url:$($form).attr('action'),
        type:"POST",
        dataType:"json",
        success:function(r,stat,xhr,form){
            if(r.status) {
                alert(r.info);
                if(r.url&&r.url!=''){
                setTimeout(function(){
                    window.location.href=r.url;
                },1000);
                }
            }else if(r.status == 0){
                alert(r.info);
            }
        }
    });
    $(document).ready(function() { 
        $("#pid").select2({
                placeholder: "请选择父分类",
                allowClear: true
        }); 
    });
    
    var imgPlus = new Image();
    imgPlus.src = "__PUBLIC__/images/menu_plus.gif";
        
    /**
     * 折叠分类列表
     */
   function rowClicked(obj) {
      // 当前图像
     img = obj;
     // 取得上二级tr>td>img对象
     obj = obj.parentNode.parentNode;
     // 整个分类列表表格
     var tbl = document.getElementById("list-table");
     // 当前分类级别
     var lvl = parseInt(obj.className);
     // 是否找到元素
     var fnd = false;
     var sub_display = img.src.indexOf('__PUBLIC__/images/menu_minus.gif') > 0 ? 'none' : 'table-row';
     // 遍历所有的分类

     for (i = 0; i < tbl.rows.length; i++)
     {
         var row = tbl.rows[i];
         if (row == obj)
         {
             // 找到当前行
             fnd = true;
             //document.getElementById('result').innerHTML += 'Find row at ' + i +"<br/>";
         }
         else
         {
             if (fnd == true)
             {
                 var cur = parseInt(row.className);
                 var icon = 'icon_' + row.id;
                 if (cur > lvl)
                 {
                     row.style.display = sub_display;
                     if (sub_display != 'none')
                     {
                         var iconimg = document.getElementById(icon);
                         iconimg.src = iconimg.src.replace('plus.gif', 'minus.gif');
                     }
                 }
                 else
                 {
                     fnd = false;
                     break;
                 }
             }
         }
     }

     for (i = 0; i < obj.cells[0].childNodes.length; i++)
     {
         var imgObj = obj.cells[0].childNodes[i];
         if (imgObj.tagName == "IMG" && imgObj.src != 'images/menu_arrow.gif')
         {
             imgObj.src = (imgObj.src == imgPlus.src) ? '__PUBLIC__/images/menu_minus.gif' : imgPlus.src;
         }
     }
   }
    
    </script>
<include file="Common:foot" />