    <link sizes="32x32" href="__HOME__/images/favicon-32.ico" rel="icon">
    <!-- Bootstrap -->
    <link href="__PUBLIC__/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    
    <link rel="stylesheet" href="__PUBLIC__/css/pagination.css" type="text/css" />
    <link rel="stylesheet" href="__HOME__/css/layout.css" type="text/css" />
    <link rel="stylesheet" href="__HOME__/css/style.css" type="text/css" />
    
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="__PUBLIC__/js/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="__PUBLIC__/bootstrap/js/bootstrap.min.js"></script>

    <!--gotop-->
    <script src="__PUBLIC__/material-scrolltop/material-scrolltop.js"></script>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/material-scrolltop/material-scrolltop.css">