<!DOCTYPE html>
<html>
<head>
    <include file="Common:head" />
</head>
<body>
    <div class="">
        <form action="__URL__/update" method="post" id="form" class="definewidth m20">
            <table class="table table-bordered table-hover m10">
                <tr>
                    <td class="tableleft">标题</td>
                    <td><input type="text" name="title" value="<{$article_info.title}>" class="form-control input-xlarge" placeholder="请输入文章标题"/></td>
                </tr>
                <tr>
                    <td class="tableleft">是否显示</td>
                    <td>
                        <select name="is_show" class="form-control input-medium">
                            <option <if condition="$article_info['is_show'] eq 1">selected</if> value="1">显示</option>
                            <option <if condition="$article_info['is_show'] eq 2">selected</if> value="2">隐藏</option>
                        </select>
                    </td>
                </tr>
                
                
                <tr>
                    <td class="tableleft">文章分类</td>
                    <td>
                        <select name="cat_id" class="form-control input-medium">
                            <option value="0">请选择分类</option>
                            <{$cat_select}>
                          </select>
                    </td>
                </tr>
                
                <tr>
                    <td width="10%" class="tableleft">文章内容</td>
                    <td>
                        <script type="text/plain" id="content" name="content" style="width: 100%;min-height: 300px;"><{$article_info.content}></script>
                    </td>
                </tr>
                <tr>
                    <td class="tableleft"></td>
                    <td>
                        <input type='hidden' name="article_id" value="<{$article_info.article_id}>" />
                        <button type="submit" class="btn btn-primary">保存</button> &nbsp;&nbsp;
                        <button type="button" class="btn btn-success" name="backid" onclick="javascript:window.location.href='<{:U(\'Article/index\')}>'">返回列表</button>
                    </td>
                </tr>
            </table>
        </form>
    </div>
<script>
    //表单ajax提交
    var $form = $('#form');
    commonAjaxForm($($form).attr('action'),$form);
    
    UE.getEditor('content',{
        autoHeight: false,
    });
</script>
</body>
</html>
