<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>后台管理</title>

<link rel="stylesheet" type="text/css" href="__PUBLIC__/bootstrap/css/bootstrap.css" />
<link rel="stylesheet" type="text/css" href="__ADMIN_BUIADMIN__/css/style.css" />
<link href="__ADMIN_BUIADMIN__/bui/css/bs3/dpl.css" rel="stylesheet" type="text/css" />
<link href="__ADMIN_BUIADMIN__/bui/css/bs3/bui-min.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="__PUBLIC__/css/style.css" type="text/css" />
<script type="text/javascript" src="__PUBLIC__/js/jquery.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/jquery.placeholder.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/jquery.form.js"></script>
<script type="text/javascript" src="__ADMIN_BUIADMIN__/js/bui-min.js"></script>
<script type="text/javascript" src="__PUBLIC__/bootstrap/js/bootstrap.js"></script>
<script type="text/javascript" src="__ADMIN_BUIADMIN__/js/ckform.js"></script>
<script type="text/javascript" src="__ADMIN_BUIADMIN__/js/common.js"></script>

<script type="text/javascript" src="__ADMIN_PUBLIC__/js/functions.js"></script>

<link rel="stylesheet" type="text/css" href="__ADMIN_PUBLIC__/asyncbox/skins/zcms.css" />
<script type="text/javascript" src="__ADMIN_PUBLIC__/asyncbox/asyncbox.js" ></script>
<link rel="stylesheet" href="__ADMIN_BUIADMIN__/css/pagination.css" type="text/css" />

<script src="__PUBLIC__/ueditor1_4_3_1/ueditor.config_admin.js"></script>
<script src="__PUBLIC__/ueditor1_4_3_1/ueditor.all.min.js"></script>
<script type="text/javascript" charset="utf-8" src="__PUBLIC__/ueditor1_4_3_1/lang/zh-cn/zh-cn.js"></script>
    
<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
  <script src="http://apps.bdimg.com/libs/html5shiv/3.7/html5shiv.min.js"></script>
  <script src="http://apps.bdimg.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->

<script>
    $(function () {
        // Invoke the plugin
        $('input, textarea').placeholder();
    });
</script>