<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<include file="Common:head" />
<!--<script type="text/javascript" src="__JS__/plugins/jquery.dataTables.min.js"></script>-->
<!--<script type="text/javascript" src="__JS__/custom/tables.js"></script>-->
</head>
<body class="withvernav">
<div class="bodywrapper">
    <include file="Common:topHeader" />
    <include file="Common:headerMenu" />
    <include file="Common:leftMenu" />
        
    <div class="centercontent">
        <div class="contenttitle2" style="width: 100%;">
            <div class="title_left" style="float:left;"><h3>添加节点</h3></div>
            <div class="title_right" style="float: right;">
                <span><a href="<{:U('Node/index')}>" >节点列表</a></span>
            </div>
        </div><!--contenttitle-->
        <div class="content">
            <form action="__URL__/insert" id="moduleform" class="form-horizontal" method="post" >
                <div class="form-group">
                    <label for="firstname" class="col-sm-2 control-label">节点名称：</label>
                    <div class="col-sm-10">
                       <input type="text" name="node_name" class="form-control input-xlarge" id="firstname" placeholder="请输入节点名称" >
                    </div>
                 </div>
                 <div class="form-group">
                    <label for="lastname" class="col-sm-2 control-label">菜单URL：</label>
                    <div class="col-sm-10">
                       <input type="text" name="node_url" class="form-control input-xlarge" id="lastname" placeholder="请输入节点URL">
                    </div>
                 </div>
                <div class="form-group">
                    <label for="lastname" class="col-sm-2 control-label">是否显示：</label>
                    <div class="col-sm-10">
                       <select name="is_show" class="form-control input-medium">
                        <option value="1">显示</option>
                        <option value="2">隐藏</option>
                      </select>
                    </div>
                 </div>
                <div class="form-group">
                    <label for="lastname" class="col-sm-2 control-label">父菜单：</label>
                    <div class="col-sm-10">
                       <select name="module_id" class="form-control input-medium">
                        <option value="0">请选择菜单</option>
                        <volist name="module_options" id="moptions">
                            <optgroup label="<{$moptions.module_name}>">
                                <volist name="moptions.child_module_list" id="child_module">
                                    <option value="<{$child_module.module_id}>"><{$child_module.module_name}></option>
                                </volist>
                            </optgroup>
                        </volist>
                        
                      </select>
                    </div>
                 </div>
                <div class="form-group">
                    <label for="lastname" class="col-sm-2 control-label">父节点：</label>
                    <div class="col-sm-10">
                       <select name="pid" class="form-control input-medium">
                        <option value="0">无</option>
                        <volist name="node_options" id="noptions">
                            <optgroup label="<{$noptions.module_name}>">
                                <volist name="noptions.nodes" id="node">
                                    <option value="<{$node.node_id}>"><{$node.node_name}></option>
                                </volist>
                            </optgroup>
                        </volist>
                        
                      </select>
                    </div>
                 </div>
                
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                       <button class="submit btn btn-primary">保 存</button>
                    </div>
                </div>
            </form>
        </div>
	</div><!-- centercontent -->
        <include file="Common:foot" />
</div><!--bodywrapper-->

<script>
    var $form = jQuery('#moduleform');
    jQuery($form).ajaxForm({
        dataType:"json",
        success:function(r,stat,xhr,form){
            if(r.status) {
                alert(r.info);
                if(r.url&&r.url!=''){
                setTimeout(function(){
                    top.window.location.href=r.url;
                },1000);
                }
            }else if(r.status == 0){
                alert(r.info); 
            }
        }
    });
</script>

</body>
</html>