<!DOCTYPE html>
<html>
<head>
    <include file="Common:head" />
</head>
<body>
    <div class="">
        <form class="form-inline definewidth m20" action="" method="get">
            管理员名称：
            <input type="text" name="admin_name" id="admin_name" class="abc input-default" placeholder="请输入管理员名称" value="<{$admin_name}>">&nbsp;&nbsp; 
            <button type="submit" class="btn btn-primary">查询</button>&nbsp;&nbsp; 
            <button type="button" class="btn btn-success" onclick="javascript:window.location.href='<{:U(\'Admin/add\')}>'">新增管理员</button>
        </form>
        <table class="table table-bordered table-hover definewidth m10">
            <thead>
            <tr>
                <th style="width: 4%" class="head0 nosort"><input type="checkbox" /></th>
                <th>编号</th>
                <th>管理员名称</th>
                <th>昵称</th>
                <th>管理操作</th>
            </tr>
            </thead>
            <tbody>
                <volist name="admin_list" id="admin">
                <tr>
                    <td><span class="center"><input type="checkbox" /></span></td>
                    <td><{$admin.admin_id}></td>
                    <td><{$admin.admin_name}></td>
                    <td><{$admin.nick_name}></td>
                    <td>
                        <a href="<{:U('Admin/update',array('id'=>$admin['admin_id']))}>">编辑</a>
                        <a href="javascript:void(0)" id="<{$admin.admin_id}>" onclick="ajaxDelete('__URL__/delete','{id:'+this.getAttribute('id')+'}')">删除</a>
                    </td>
                </tr>
                </volist>
                <tr>
                    <td class="fy" colspan="15"><ul class="pagination"><{$page}></ul></td>
                </tr>
            </tbody>
        </table>
    </div>
    
    <script>

    </script>
</body>
</html>
