<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<include file="Common:head" />
<!--<script type="text/javascript" src="__JS__/plugins/jquery.dataTables.min.js"></script>-->
<!--<script type="text/javascript" src="__JS__/custom/tables.js"></script>-->
</head>

<body class="withvernav">
<div class="bodywrapper">
    <include file="Common:topHeader" />
    <include file="Common:headerMenu" />
    <include file="Common:leftMenu" />
        
    <div class="centercontent">
        <div class="contenttitle2" style="width: 100%;">
            <div class="title_left" style="float:left;"><h3>添加管理员</h3></div>
            <div class="title_right" style="float: right;">
                <span><a href="<{:U('Admin/index')}>" >管理员列表</a></span>
            </div>
        </div><!--contenttitle-->
        <div class="content">
            <form action="__URL__/edit" id="form" class="form-horizontal" method="post" >
                <div class="form-group">
                    <label for="admin_name" class="col-sm-2 control-label">用户名：</label>
                    <div class="col-sm-10">
                        <input type="text" value="<{$admin_info.admin_name}>" name="admin_name" class="form-control input-xlarge" id="admin_name" placeholder="请输入用户名" >
                    </div>
                 </div>
                 <div class="form-group">
                    <label for="password" class="col-sm-2 control-label">新密码：</label>
                    <div class="col-sm-10">
                       <input type="password" value="" name="password" class="form-control input-xlarge" id="password" placeholder="请输入密码"><span>如果不修改，请留空！</span>
                    </div>
                 </div>
                <div class="form-group">
                    <label for="nick_name" class="col-sm-2 control-label">昵称：</label>
                    <div class="col-sm-10">
                       <input type="text" value="<{$admin_info.nick_name}>" name="nick_name" class="form-control input-xlarge" id="nick_name" placeholder="请输入昵称" >
                    </div>
                 </div>
                <div class="form-group">
                    <label for="role_id" class="col-sm-2 control-label">角色：</label>
                    <div class="col-sm-10">
                       <select name="role_id" class="form-control input-medium">
                        <option value="0">请选择角色</option>
                        <volist name="role_list" id="role">
                            <option <if condition="$admin_info['role_id'] eq $role['role_id']">selected</if> value="<{$role.role_id}>"><{$role.role_name}></option>  
                        </volist>
                        
                      </select>
                    </div>
                 </div> 
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <input type='hidden' name="admin_id" value="<{$admin_info.admin_id}>" />
                       <button class="submit btn btn-primary">保 存</button>
                    </div>
                </div>
            </form>
        </div>
	</div><!-- centercontent -->
        <include file="Common:foot" />
</div><!--bodywrapper-->

<script>
    var $form = jQuery('#form');
    jQuery($form).ajaxForm({
        dataType:"json",
        success:function(r,stat,xhr,form){
            if(r.status) {
                alert(r.info);
                if(r.url&&r.url!=''){
                setTimeout(function(){
                    top.window.location.href=r.url;
                },1000);
                }
            }else if(r.status == 0){
                alert(r.info); 
            }
        }
}); 
</script>

</body>
</html>