<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta property="qc:admins" content="540026746012566655641" />
    <meta property="wb:webmaster" content="e0163ef5559e8be9" />
    <title>享得</title>

    <include file="Common:head" />
</head>
<body>
<include file="Common:head_nav" />

<div id="wrap"><!-- wrap -->
    <div id="page-main" class="container art-container">
        <div class="row">
            <div class="col-md-12 col-lg-12 col-sm-12">
                    welcome to enjoy share,please access to index!
            </div><!--/.col-md-12 col-lg-12 col-sm-12-->

        </div><!--/row-->
    </div> <!-- /container -->
</div> <!-- /wrap -->
<include file="Common:foot" />