<!DOCTYPE html>
<html>
<head>
    <include file="Common:head" />
</head>

<body>
<form class="form-inline definewidth m20" action="index.html" method="get">
 <button type="button" class="btn btn-success" onclick="javascript:window.location.href='<{:U(\'Role/index\')}>'">角色列表</button>
</form>
<form action="__URL__/changeAccess" method="post" id="form" class="definewidth m20">
    <p>你正在为用户组：<b><{$role_info.role_name}></b> 分配权限 。</p>
    <volist name="access_list" id="level1">
                    <ul class="hornav">
                        <li class="current">
                            <a href="javascript:void(0)"><label><{$level1.module_name}></label></a>
                        </li>
                    </ul>
    <table width="95%" border="0" cellspacing="0" cellpadding="0" class="table table-bordered table-hover definewidth m10">
                        <volist name="level1['module_list']" id="level2">
                            <tr>
                                <td style="padding: 10px 10px 10px 30px; font-size: 14px;"><label><input level="2" type="checkbox" obj="node_<{$level1.module_id}>_<{$level2.module_id}>" value="node_2_<{$level2.module_id}>"/><{$level2.module_name}></label></td>
                            </tr>
                            <tr>
                                <td style="padding-left: 50px;">
                                    <volist name="level2['node_list']" id="level3">
                                        <input name="access[]" <in name="level3.node_id" value="$role_info['access_list']">checked="checked" </in> level="3" type="checkbox" obj="node_<{$level1.module_id}>_<{$level2.module_id}>_<{$level3.node_id}>" value="<{$level3.node_id}>"/> <{$level3.node_name}> &nbsp;&nbsp;&nbsp;
                                    </volist>
                                </td>
                            </tr>
                        </volist>
                    </table>
        </volist>
    <table width="95%" border="0" cellspacing="0" cellpadding="0" class="table table-hover definewidth m10">
        <tr>
        <td>
            <input type='hidden' name="role_id" value="<{$role_info.role_id}>" />
            <button type="submit" class="btn btn-primary" type="button">保存</button> &nbsp;&nbsp;
        </td>
    </tr> 
    </table>

</form>
<script>
    var $form = $('#form');
    $($form).ajaxForm({
        dataType:"json",
        success:function(r,stat,xhr,form){
            if(r.status) {
                alert(r.info);
                if(r.tourl&&r.tourl!=''){
                setTimeout(function(){
                    window.location.href=r.tourl;
                },1000);
                }
            }else if(r.status == 0){
                alert(r.info); 
                window.location.href=r.tourl;
            }
        }
    });
        
        //初始化数据
    function setAccess(){
        //清空所有已选中的
        //jQuery("input[type='checkbox']").prop("checked",false);
        //数据格式：
        //节点ID：node_id；1，项目；2，模块；3，操作
        //节点级别：level；
        //父级节点ID：pid
        //alert('<{$role_info.access_module}>')
        var access=eval("("+'<{$role_info.access_module}>'+")");//jQuery.parseJSON('<{$role_info.access_module}>');
        var access_length=access.length;
        if(access_length>0){
            for(var i=0;i<access_length;i++){
                jQuery("input[type='checkbox'][value='"+access[i]['val']+"']").prop("checked","checked");
            }
        }
    }
    
    $(function(){
                //执行初始化数据操作
                setAccess();
                //为项目时候全选本项目所有操作
                //
                //为模块时候全选本模块所有操作
               $("input[level='2']").click(function(){
                    var obj=$(this).attr("obj")+"_";
                    $("input[obj^='"+obj+"']").prop("checked",$(this).prop("checked"));
                    //分隔obj为数组
                    var tem=obj.split("_");
                    //将当前模块父级选中
                    if($(this).prop('checked')){
                        $("input[obj='node_"+tem[1]+"']").prop("checked","checked");
                    }
                });
                //为操作时只要有勾选就选中所属模块和所属项目
                $("input[level='3']").click(function(){
                    var tem=jQuery(this).attr("obj").split("_");
                    if($(this).prop('checked')){
                        //所属项目
                        $("input[obj='node_"+tem[1]+"']").prop("checked","checked");
                        //所属模块
                        $("input[obj='node_"+tem[1]+"_"+tem[2]+"']").prop("checked","checked");
                    }
                });
            });

        $('#addnew').click(function(){
            window.location.href="__MODULE__<{:U('Role/index')}>";
         });
	
</script>

</body>
</html>