@charset "utf-8";

.x-icon-info, .x-icon-question {
            background-color: #5bc0de;
            border-color: #46b8da;
            color: #ffffff;
        }
        .x-icon {
            border: 1px solid transparent;
            border-radius: 2px;
            cursor: inherit;
            display: inline-block;
            font-family: "Arial";
            font-size: 20px;
            font-weight: bold;
            height: 22px;
            line-height: 22px;
            overflow: hidden;
            text-align: center;
            text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
            width: 22px;
        }

        .button-primary {
            background-color: #428bca;
            border-color: #357ebd;
            color: #ffffff;
        }
        .button {
            -moz-user-select: none;
            background-color: #ffffff;
            background-image: none;
            border: 1px solid #cccccc;
            border-radius: 4px;
            color: #333333;
            cursor: pointer;
            display: inline-block;
            font-size: 14px;
            font-weight: normal;
            line-height: 20px;
            margin-bottom: 0;
            padding: 4px 12px;
            text-align: center;
            vertical-align: middle;
            white-space: nowrap;
        }
        .button:hover,
        .button:focus {
            color: #333333;
            text-decoration: none;
        }

        .button:hover,
        .button:focus,
        .button:active,
        .button.active,
        .open .dropdown-toggle.button {
            color: #333333;
            background-color: #e6e6e6;
            border-color: #adadad;
        }

        .button-primary {
            color: #ffffff;
            background-color: #428bca;
            border-color: #357ebd;
        }
        .button-primary:hover,
        .button-primary:focus,
        .button-primary:active,
        .button-primary.active,
        .open .dropdown-toggle.button-primary {
            color: #ffffff;
            background-color: #3071a9;
            border-color: #285e8e;
        }

        .x-icon-hover,
        .x-icon-normal:hover {
            color: #73787d;
            border: 1px solid #a6a6c1;
        }