<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<include file="Common:head" />
</head>
<body class="withvernav">
<div class="bodywrapper">
    <include file="Common:topHeader" />
    <include file="Common:headerMenu" />
    <include file="Common:leftMenu" />
        
    <div class="centercontent">
        <div class="pageheader">
            <h1 class="pagetitle">控制台</h1>
            <span class="pagedesc">页面的描述内容</span>
            
            <ul class="hornav">
                <li class="current"><a href="#updates">常用功能</a></li>
                <li><a href="#activities">个人信息</a></li>
            </ul>
        </div><!--pageheader-->
        
        <div id="contentwrapper" class="contentwrapper">
        
        	<div id="updates" class="subcontent">
                    <div class="notibar announcement">
                        <a class="close"></a>
                        <h3>ES_ADMIN</h3>
                        <p>通知内容......</p>
                    </div><!-- notification announcement -->
                    
                    <div class="two_third dashboard_left">
                    
                    	<ul class="shortcuts">
                        	<li><a href="" class="settings"><span>设置</span></a></li>
                            <li><a href="" class="users"><span>用户</span></a></li>
                            <li><a href="" class="gallery"><span>相册</span></a></li>
                            <li><a href="" class="events"><span>事件</span></a></li>
                            <li><a href="" class="analytics"><span>分析</span></a></li>
                        </ul>
                        
                       
                        <br clear="all" />
                        
                        <div id="chartplace" style="height:300px;"></div>
                        
                        <br clear="all" />
                        
                        
                    </div><!--two_third dashboard_left -->
                    
                    <div class="one_third last dashboard_right">
               
                    </div><!--one_third last-->
                    
                    
            </div><!-- #updates -->
            
            <div id="activities" class="subcontent" style="display: none;">
                个人信息......
            </div><!-- #activities -->
        
        </div><!--contentwrapper-->
        
        <br clear="all" />
        
	</div><!-- centercontent -->
    
        <include file="Common:foot" />
</div><!--bodywrapper-->

</body>
</html>